body {
    font-family: $font-main;
    color: $colorBlack;
    font-size: 16px;
}

a {
    transition: color 0.2s linear;
    
    &:hover {
        color: $colorAccent;
    }
}

.container {
    max-width: 1320px;
    padding: 0 40px;
    margin: 0 auto;

    &--footer {
        display: flex;
        flex-direction: column;
        row-gap: 80px;
    }
}

.none {
    display: none !important;
}

.titleH1 {
    font-size: clamp(60px, 3.102rem + 3.24vw, 95px);
    font-weight: 800;
    line-height: 108%;
}

.titleH2 {
    font-size: clamp(35px, 1.65rem + 2.69vw, 64px);
    font-weight: 700;
    line-height: 100%;

    &--footer {
        font-family:RF Dewi Extended;
        line-height: normal;
        color: $colorSecondaryWhite;
    }
}

.titleH3 {
    font-size: clamp(24px, 1.056rem + 2.22vw, 48px);
    font-weight: 600;
    line-height: 95%;
}

.subtitleP {
    font-size: clamp(14px, 0.764rem + 0.56vw, 20px);
    font-weight: 500;
    line-height: 116%;
    color: $colorSecondaryBlack;

    &--benefits {
        width: 236px;
    }
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 20px;

    border-radius: 60px;
    background: $colorAccent;

    font-size: 16px;
    color: #fff;

    font-family: 'RF Dewi Extended';
    letter-spacing: -0.385px;

    transition: background-color 0.2s ease-in, color 0.2s ease-in;

    &--contact {
        font-size: 25px;
        font-weight: 600;
    }

    &--aside {
        font-size: 18px;
        font-weight: 600;  
        padding: 5px 10px;
    }

    &--benefit {
        max-width: 412px;
        padding: 33px 59px;
        background-color: unset;
        color: $colorBorder;
        border: 1px solid $colorBorder;
        border-radius: 60px;
        font-size: clamp(1.25rem, 1.102rem + 0.74vw, 1.75rem);
        letter-spacing: -0.48px;
    }
}

.button:hover, .button:focus, .button:active {
    background-color: $colorAccentHover;
}

@include mediaTablet {
    .container--footer {
        row-gap: 60px;
    }

    .button--benefit {
        padding: 20px 30px;
    }

}

@include semiTablet {
    .container--footer {
        row-gap: 40px;
    }
}

@include mediaPhone {
    .container--footer {
        row-gap: 30px;
    }

    .button--benefit {
        padding: 10px;
    }
}
