/*FONTS*/

$font-main: 'RF Dewi', serif;

/*FONTS*/

/*COLORS*/

$colorBlack: #000;
$colorSecondaryBlack: rgba(0, 0, 0, 0.6);
$colorWhite: #fff;
$colorSecondaryWhite: #FCFCFD;
$colorAccent: #FD853A;
$colorAccentHover: #ff7723;
$colorSecondaryAccent: rgb(255, 180, 130);
$colorQuotes: #344054;
$colorSubtitle: #667085;
$colorBorder: #151515;
$colorFooter: #272727;

/*COLORS*/

/*MEDIA*/

$tablet: 1000px;
$phone: 320px;

/*MEDIA*/